<br><br><br><br>
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Merci :</div>
                <p class="m-auto text-slate-500">Vous vennez de complétez votre 360.</p>
                <p class="m-auto text-slate-500">Vous pouvez maintenant quitter cette page</p>
            <div>
        </div>
    </div>
</div>



          